:root {
  
    --white-color: #FFFFFF;
    --header-title-color: #212121;
    --primary-text-color: #757575;
    --second-text-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196f3;
    --focus-hover-color: #188CE8;
    --first-accent-color: #000000;
    --about-us-color: #F5F4FA;
    --background-hero-footer-color: #2F303A;
  }

  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  button {
    cursor: pointer;
  }

  img {
    display: block;
}

  body {
    font-family: 'Roboto', sans-serif;
  }

  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .list {
    list-style: none;
  }
  
  .link {
    text-decoration: none;
  }
  
  .btn-bold {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    background-color: var(--accent-color);
    align-items:center;
    text-align:center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    margin-top: 30px;
  }

  .btn-bold:hover, .btn-bold:focus {
  color: var(--white-color);
  background-color: var(--focus-hover-color)
  }
  
  .filter-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-title-color);
    cursor: pointer;
    background-color:var(--about-us-color);
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
  }

  .filter-button:hover, .filter-button:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
  }
  
  /* ----------------------heder------------------- */
  .header-container {
    display: flex;
    align-items: center;
  }
  
  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .logo-first {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  
  .logo-second {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--first-accent-color);
  }

  .menu-item {
    display: flex;
  }
  
  .menu-item:not(:last-child) {
    margin-right: 50px;
  }

  .menu-link.current {
  color: var(--accent-color);
  }

  .menu-list {
    display: flex;
  }
  
  .menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em; 
    color: var(--header-title-color);
  }
  
  .adress-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  
  .adress-item:not(:first-child) {
    margin-left: 50px;
  }
  
  .adress-link:focus, .adress-link:hover {
    color: var(--accent-color);
  }

  .adress-list {
    display: flex;
    margin-left: auto;
  }
  .menu-link:hover, .menu-link:focus
  {
    color: var(--accent-color);
  }
  
  /*---------------------hero-----------------------*/
  .hero-top {
    background-color: var(--background-hero-footer-color);
    padding-top: 200px;
    padding-bottom: 200px;
  }
  
  .hero-main {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  .button-centr {
    text-align: center
  }
  .filters {
    display: none;
  }
  
  .hero-centr {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .centr-title {
    display: none;
  }

  .centr-list-container {
    display: flex;
  }
  .hero-item {
    width: 270px;
    height: 2.67;
  }

  .hero-item:not(:last-child) {
    margin-right: 30px;
  }

  .hero-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-title-color);
    margin-bottom: 10px;
  }

  .hero-item-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }

  .about-us-container {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--about-us-color)
  }

  .first-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-title-color);
    margin-bottom: 50px;
  }
  
  .first-list {
    display: flex;
  }

  .first-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 94px;
  }

  .about-list {
    display: flex;
  }

  .about-item {
    display: flex;
  }

  .about-item-container {
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .about-item:not(:last-child) {
    margin-right: 30px
  }
  .about-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-title-color);
    padding-top: 30px;
  }
  
  .about-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    padding-top: 10px;
    padding-bottom: 30px;
  }

  /*-------------------projects------------------*/
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .filter-button.current {
    color: var(--white-color);
    background-color: var(--accent-color);
  }

  .filter {
    display: flex;
    justify-content: center;
  }

  .filters-container {
    margin-bottom: 50px;
  }

  .filter-item:not(:last-child) {
    margin-right: 8px;
  }

  .project-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;

  }

  .project-item {
    background: var(--white-color);
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    width: 370px;
    height: 1.09;
  }

  .project-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }

  .projects-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--header-title-color);
    margin-top: 20px;
    margin-left: 24px;
  }

  .project-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-top: 4px;
    margin-left: 24px;
    margin-bottom: 20px;
  }
  /*------------------footer------------------*/
  
  .footer-hero {
      background-color: var(--background-hero-footer-color);
  }
  
  .footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .logo-footer-container {
    margin-bottom: 20px;
  }

  .footer-addres-item {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);
  }
  
  .footer-item:not(:last-child) {
margin-bottom: 9px;
  }

  .footer-list {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
  }
  
  .logo-third {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--white-color);
  }
  